$brand-color: #36B7BB;
$brand-font: 'Amaranth', sans-serif;
$text-font: 'Source Sans Pro', sans-serif;

#coming-soon {
	font-size: 20px;
	text-align: center;
	margin: auto;
	width: 100%;
	min-height: 20vh;
	padding: 20px 20px;
}

* {
	font-family: $text-font;
}

p {
	font-size: 17px;
}

h1 {
	font-family: $brand-font;
	text-transform: uppercase;
	color: $brand-color;
	font-size: 20px;

	&.space-top {
		margin-top: 32px;
	}
}

h2 {
	font-size: 18px;
	font-weight: bold;
}

a {
	color: $brand-color;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, 
.col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, 
.col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, 
.col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, 
.col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, 
.col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, 
.col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
	padding-left: 5px;
	padding-right: 5px;
}

.row {
    margin-right: -5px;
    margin-left: -5px;
}

.icon-bar {
	background-color: $brand-color;
}

.navbar-header {
	width: 100%;
}

.space-top {

	margin-top: 24px;

	&.row {
		margin-top: 10px;
	}
	
}

.navbar-brand {
	text-align: center;
	height: auto;
	width: 100%;
	margin: auto;
	> img {
    	margin: auto;
	}
}

.navbar-fixed-top {
	background-color: white;
	ul.nav {
	    height: 70px;
	    padding-top: 22px;
	}
}

.navbar-fixed-top > .navbar-brand {
	width: 200px;
	padding-top: 0;
}

.navbar-static > .navbar-brand {
	display: none;
}

ul.navbar-nav li > a {
	font-family: $brand-font;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	font-size: 17px;
}

#pictureModal {
	.modal-body {
		padding: 0;
	}
}

.tabak-spacing {
	margin-top: 13px;
}

li.language a {
	color: #79b7b9;
}

/*** media queries ****/
@media (min-width: 992px) { // tablet & desktop
	.navbar-static .navbar-nav {
		position: relative;
    	left: 25%;

    	&.navbar-right {
    		left: 0;
    	}
	}

	nav.navbar {
		margin-bottom: -20px;
	}
}

@media (max-width: 767px) { // mobile
	.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, 
	.col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, 
	.col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, 
	.col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, 
	.col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, 
	.col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, 
	.col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
		padding-left: 2px;
		padding-right: 2px;
	}

	.row {
	    margin-right: -2px;
	    margin-left: -2px;
	}

	.tabak-spacing {
		margin-top: 4px;
	}

	.space-top {
		&.row {
			margin-top: 5px;
		}	
	}

	.nav-spacer {
	    height: 120px;
	}

	.menu-container {
		position: fixed;
		background-color: white;
		z-index: 1;
		width: 100%;
		top: 0;
	}

	.navbar-brand {
	    position: absolute;
	    min-width: 100px;
    	max-width: 275px;
		padding-left: 15px;
		padding-top: 0;
		padding-bottom: 0;
	}

	.navbar-header {
	    height: 130px;
	}

	.navbar-toggle {
	    margin-top: 74px;
	    margin-right: 0;
	    padding: 9px 0;
	}

	@media (orientation: landscape) {
		.navbar-brand {
			 max-width: 44vw;
		}

		.navbar-header {
			height: 29vh;
		}

		.nav-spacer {
	    	height: 20vh;
		}
	}	

	@media (orientation: portrait) {}

}